<meta charset="UTF-8">



body{
    background-color: rgb(126, 241, 124);
}

h1{
    text-align: center;
    font-family: serif;
    font-size: 40px;
    background-color: red;
}
p{
    text-align: justify;
}
h2{
    background-color: bisque;
}
.especial{
    background-color: black;
    color: white;

}
h4{
    text-align: right;
}
div:hover{
    display: table;
    width: 20em;
   
    
}
